@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Montserrat:wght@600&family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Roboto:wght@400;500;900&display=swap');

/* font-family: 'Inter',sans-serif;
font-family: 'Montserrat',sans-serif;
font-family: 'Roboto',sans-serif; */

:root {
  --primary-color-text: #ffffff;
  --primary-bg: #1F2E35;
  --change-transition: 0.3s;
  --primary-color-btn: #02897A;
}

body {
  background: var(--primary-bg);
  color: var(--primary-color-text);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  max-width: 87.5rem;
  margin: auto;
}

.header {
  padding: 1.2rem 1.3rem;
  margin-bottom: 2.7rem;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 64rem;
  margin: 0 auto;
}

.logo {
  display: inline-block;
}

.header__logo {
  margin-right: auto;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.header__auth:hover,
.menu__link:hover,
.header__logo:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.header__holder {
  width: 11.12rem;
  height: 2.3rem;
}

.logo__image {
  width: 11.12rem;
  height: 2.3rem;
}

.header__nav {
  margin-right: 1.5rem;
}
/* .nav {} */

.nav__menu {
  display: flex;
}
/* .menu {} */

.menu__item:not(:last-child) {
  margin-right: 1.8rem;
}

.menu__link {
  padding: 0.4rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

._active {
  font-weight: 500;
}

.header__auth {
  border-radius: 0.4rem;
  font-weight: 600;
  margin-right: 1.5rem;
  padding: 0.8rem 1.5rem 0.7rem 1.48rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.theme__btn {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.theme__btn:hover {
  opacity: 0.5;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn__login {
  border: 1px solid #BCD0E5;
}

._primery {
  background: var(--primary-color-btn);
}

.theme__btn {
  background: #F3F3F3;
  border-radius: 6.25rem;
  padding: 0.18rem 0.18rem 0.06rem 0.18rem;
  -webkit-border-radius: 6.25rem;
  -moz-border-radius: 6.25rem;
  -ms-border-radius: 6.25rem;
  -o-border-radius: 6.25rem;
}

.theme__icon {
  width: 1.5rem;
  height: 1.5rem;
}
/* section introduction */
.introduction {
  margin-bottom: 6.25rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__info {
  display: flex;
  flex-direction: column;
  width: 39%;
  padding: 1.25rem 1.25rem;
}

.title {
  font-weight: bold;
  line-height: 3.75rem;
}

.main__title {
  font-size: 2.5rem;
  margin-bottom: 1.125rem;
}

.main__text {
  margin-bottom: 2.8rem;
  line-height: 1.75rem;
}

.main__btn {
  display: inline-block;
  padding: 0.8rem 1.8rem 0.7rem 1.8rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn__holder {
  display: flex;
  align-items: center;
}

.main__btn:first-child {
  margin-right: 30px;
}

.main__btn:hover {
  opacity: 0.5;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.main__link {
  position: relative;
  color: #02897A;
  text-decoration: underline;
}

.fa-play {
  margin-right: 5px;
}

._bold {
  font-weight: 700;
}

.information {
  text-align: center;
  margin-bottom: 70px;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
  margin: auto;
}

.information__title {
  max-width: 52%;
  margin-bottom: 6rem;
}

.information__holder {
  display: flex;
  text-align: left;
}

.card {
  margin-bottom: 3.8rem;
}

.card__info:not(:last-child) {
  margin-right: 2%;
}

.card__info {
  width: 23%;
}

.info__link {
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.info__link:hover {
  opacity: 0.5;
  color: yellowgreen;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.info__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.8rem;
}

.info__text {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.7rem;
}

._cursor {
  background: #02897A;
}

._design {
  background: #4D8DFF;
}

._heart {
  background: #740A76;
}

._hourglass {
  background: #F03E3D;
}

.information__link {
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.services {}

.container {}

.services__content {}

.services__info {}

.block {}

.services__subtitle {
  margin-bottom: 1.5rem;
}

.subtitle {
  font-weight: 600;
  line-height: 1.5rem;
}

.services__title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.services__text {
  font-weight: normal;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.services__holder {}